<html>
<head>
</head>
<body>
<form action="/agent_search_result" method="POST">
    <input type="text" name = "departure_city" placeholder="departure_city"/> </br>
    <input type="text" name = "arrival_city" placeholder="arrival_city"/> </br>
	<input type="text" name = "departure_airport" placeholder="departure_airport"/> </br>
	<input type="text" name = "arrival_airport" placeholder="arrival_airport" /> </br>
	<input type="date" name = "departure_date" placeholder="departure_date" required/>(departure date) </br>
	<input type="submit" value = single_flight_search />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>

<form action="/agent_round_search_result" method="POST">
    <input type="text" name = "departure_city" placeholder="departure_city"/> </br>
    <input type="text" name = "arrival_city" placeholder="arrival_city"/> </br>
    <input type="text" name = "departure_airport" placeholder="departure_airport"/> </br>
    <input type="text" name = "arrival_airport" placeholder="arrival_airport" /> </br>
    <input type="date" name = "departure_date" placeholder="departure_date" required/>(departure date) </br>
    <input type="date" name = "return_date" placeholder="return_date" required/>(return date) </br>
    <input type="submit" value = round_flight_search />
    {% if error %}
        <p class="error"><strong>Error:</strong> {{error}}</p>
    {% endif %}
</form>

<a href="/booking_agent_home">Go back</a>
</body>
</html>
