<html>
<head>
</head>
<body>
<form action="/registerAuthb" method="POST">
	<input type="text" name = "agent_email" placeholder="agent_email" required/> </br>
	<input type="password" name = "password" placeholder="password" required/></br>
	<input type="text" name = "booking_agent_id" placeholder="booking_agent_id" required/> </br>
	<input type="submit" value = Register />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>
<a href="/">Go back</a>
</body>
</html>