<html>
<head>
</head>
<body>
<form action="/staff_add_airplane" method="POST">
	<input type="text" name = "airplane_id" placeholder="airplane_id" required/> </br>
	<input type="text" name = "airline_name" placeholder="airline_name" required/> </br>
    <input type="number" name = "seats" placeholder="seats" required/> </br>
	<input type="submit" value = submit />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>

<a href="/staff_home">Go back</a>
</body>
</html>