<html>
<head>
</head>
<body>
<h3>Welcome {{posts}}!</h3>
<h4>Functions you can do: </h4>
<a href="/staff_view_flight">4. View future flights</a></br>
<a href="/staff_add_flight_default">5. Create new flights</a></br>
<a href="/staff_update_status_index">6. Change status of flights</a></br>
<a href="/staff_add_airplane_index">7. Add airplane in the system</a></br>
<a href="/staff_add_airport_index">8. Add new airport in the system</a></br>
<a href="/staff_view_agent_index">9. View top 5 booking agents</a></br>
<a href="/staff_view_customer_index">10. View frequent customers</a></br>
<a href="/staff_view_reports">11. View reports</a></br>
<a href="/staff_view_revenue_index">12. Comparison of revenue earned</a></br>
<a href="/staff_view_destination_index">13. View top destinations</a></br>


<a href="/logout">14. Logout</a>

</body>


</html>
